* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

body {

    background-image: url(https://www.xtrafondos.com/wallpapers/textura-azul-3d-low-poly-3601.jpg);
    background-size: cover
    
}

.form-register {
    width: 490px;
    background-color: rgb(1, 23, 44);
    padding: 35px;
    box-shadow: 7px 13px 37px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.form-register h4 {
    
    color: rgba(209, 136, 0, 0.952);
    font-size: 36px;
    padding-inline-start: 0cm;
    margin: 10px;
    text-align: center;
    
    

}

.controls {
    width: 100%;
    background-color: rgba(27, 138, 138, 0.082);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    color: aliceblue;
    border: 1px solid rgb(190, 94, 26);
}

.form-register p {

    height: 55px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 40px;

}

.form-register a {
    height: 70px;
    color: rgb(253, 0, 0);
    text-decoration: none;
    font-size: 20px;


}


.terminos{
    text-align: center;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
    
    

}

.form-register a:hover {

    color: aliceblue;
    text-decoration: underline;
}

.submit {
    color: rgb(255, 255, 255);
    background-color: rgb(8, 32, 241);
    border: 1px;
    font-size: 15px;


}